version: "3.7"

services:

  # Von Umbrel benutzt, um dein Web-UI zu erreichen
  app_proxy:
    environment:
      # Format: <app-id>_<docker-service-name>_1
      # app-id = grin-node-testnet  (aus umbrel-app.yml)
      # service-name = ui   (siehe unten)
      APP_HOST: grin-node-testnet_ui_1
      # Interner Port im UI-Container (Nginx lauscht auf 80)
      APP_PORT: 80

  # Frontend/UI (Nginx/SPA/etc.)
  ui:
    image: wiesche89/grin-node-docker-testnet:0.2.4
    restart: unless-stopped
    depends_on:
      - controller

  # Backend-Controller + eigentlicher Grin Node
  controller:
    image: wiesche89/grin-node-controller:0.2.3
    user: "0:0"          # root
    init: true
    restart: unless-stopped
    networks:
      default:
        aliases:
          - controller-testnet
    volumes:
      - ${APP_DATA_DIR}/grin-rust-home-testnet:/root/.grin
      - ${APP_DATA_DIR}/grinpp-home-testnet:/root/.GrinPP

    ports:
      - "13414:13414"
      - "13413:13413"
      - "13415:13415"
      - "13416:8080"

    environment:
      GRIN_RUST_BIN: "/opt/nodes/grin-rust/grin"
      GRIN_RUST_DATADIR: "/root/.grin/test"
      GRIN_RUST_ARGS: "--no-tui --testnet"

      GRINPP_BIN: "/opt/nodes/grinpp/grin"
      GRINPP_DATADIR: "/root/.GrinPP"
      GRINPP_ARGS: "--public-node-api --floonet"
